@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

// TAGS
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $brand-primary-clr;
}

p {
  margin: 1rem 0;
  font-size: 1rem;
}

section {
  padding: 5rem 0;
}

ul {
  list-style: none;
}

//CLASSES
.highlight {
  padding: 0.1rem 0.8rem;
  border-radius: 0.2rem;
  background-color: $brand-secondary-clr;
}

.container {
  width: 65%;
}

//BUTTONS
.btn {
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.brand-btn {
  color: #fff;
  background-color: $brand-primary-clr;
}

.light-btn {
  color: $brand-primary-clr;
  border: 1px solid $brand-primary-clr;
}

.alpha-btn {
  color: $light-text-clr;
  border: 1px solid $brand-primary-clr;
}
