@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";

a {
  text-decoration: none;
}

section {
  padding: 5rem 0;
}

ul {
  list-style: none;
}

.highlight {
  padding: 0.1rem 0.8rem;
  background-color: $brand-secondary-clr;
}
