$brand-prymary-clr: #038484;
$brand-secondary-clr: #52bbba44;
$header-bg-clr: #122439;
$dark-section-bg-clr: #1d2023;
$clear-section-bg-clr: #eef1ed;
$dark-text-clr: #111117;
$medium-text-clr: #504f51;
$light-text-clr: #bcbebc;
