$brand-prymary-clr: #038484;
$brand-secondary-clr: #52bbba44;
$header-bg-clr: #122439;
$section-bg-clr: #1d2023;
$dark-text-clr: #111117;
$medium-text-clr: #504f51;
$light-text-clr: #bcbebc;
$lighter-text-clr: #eef1ed;
